<html>

	<head>
		<title>Demo</title>

		<script type="text/javascript" src="/static/javascript/jquery-1.9.1.min.js"></script>

		<script type="text/javascript" src="/static/javascript/raphael-min.js"></script>

		<script type="text/javascript">

		$.ajax({
			url: "/all/",
			context: document.body,
			dataType: 'json'
		}).done(function( data ) {
			chart_data = {};

			$(data).each( function( i, element ) {
				if ( ! chart_data[element.type_id] ) {
					chart_data[element.type_id] = 0;
				}

				chart_data[element.type_id]++;
			} )

			console.log(chart_data);
		})
		</script>
	</head>

	<body>


	</body>

</html>