<html>

	<head>
		<title>Drinks By Day</title>
		<script type="text/javascript" src="/static/javascript/Chart.js"></script>
		<script type="text/javascript" src="/static/javascript/jquery-1.9.1.min.js"></script>

		<meta name = "viewport" content = "initial-scale = 1, user-scalable = no">
		<style>
			canvas{
			}
		</style>

	</head>

	<body>


		<h1>Drinks By Day</h1>

		<canvas id="canvas" height="450" width="5000"></canvas>

		<script>

			function sort_data ( a, b ) {
				var all = [];

				for (var i = 0; i < b.length; i++) {
					all.push({ 'a': a[i], 'b': b[i] });
				}

				all.sort(function(a, b) {
				  return a.a - b.a;
				});

				a_sorted = [];
				b_sorted = [];

				for (var i = 0; i < all.length; i++) {
					a_sorted.push(all[i].a);
					b_sorted.push(all[i].b);
				}

				// console.log(a_sorted, b_sorted);

				return {a_sorted: a_sorted, b_sorted:b_sorted};
			}

			$.ajax({
				url: '/drinks/by/day'
				, dataType: 'json'
				, success: function( data ) {

					$.map(data, function(element, i){
						console.log(element);
						console.log(i);
					})

					var labels = [];
					var dataset = [];

					for (var key in data) {
						var day_data = data[key];

						labels.push(key);
						dataset.push(day_data.length)
					}

					// sorted_data = sort_data(labels, dataset);
					// labels = sorted_data.a_sorted;
					// dataset = sorted_data.b_sorted;

					var lineChartData = {
						labels: labels,
						datasets: [
							{
								fillColor : "rgba(220,220,220,0.5)",
								strokeColor : "rgba(220,220,220,1)",
								pointColor : "rgba(220,220,220,1)",
								pointStrokeColor : "#fff",
								data : dataset
							}
						]
					}

					var myLine = new Chart(document.getElementById("canvas").getContext("2d")).Line(lineChartData);
				}
			});

		
		</script>

	</body>

</html>