{% extends "base.html" %}

{% block title %}
Beverage-O-Meter: Drinks Summary
{% endblock %}


{% block content %}
<table class="table">

    <tr>
        <th>ID</th>
        <th>#</th>
        <th>Name</th>
        <th>UPC</th>
    </tr>
    {% for drink in drinks %}
    <tr>

        <td>
            {{ drink.id }}
        </td>
        <td>
            {{ drink.total_number }}
        </td>
        <td><b>{{ drink.name }}</b></td>
        <td>{{ drink.upc }}</td>

        <td>
            <a href="http://eandata.com/lookup/{{ drink.upc }}">eandata.com</a>
        </td>

        <td>
            <a href="http://www.upcdatabase.com/item/{{ drink.upc }}">upcdatabase.com</a>
        </td>

        <td>
            <a href="http://www.upc-search.org/perl/upc-search.pl?q={{ drink.upc }}">upc-search.org</a>
        </td>

    </tr>

    {% endfor %}
</table>
{% endblock %}