<!doctype html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Beverage-o-Meter</title>
	<link href="{{ url_for('static', filename='css/examples.css') }}" rel="stylesheet" type="text/css">
	<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="../../excanvas.min.js"></script><![endif]-->
	<script language="javascript" type="text/javascript" src="{{ url_for('static', filename='javascript/flot/jquery.js') }}"></script>
	<script language="javascript" type="text/javascript" src="{{ url_for('static', filename='javascript/flot/jquery.flot.js') }}"></script>
	<script type="text/javascript">

	$(function() {

		var data = [],
			i = 0,
			j = 0,
			drinks = {{ drinks|safe }},
			hours = {{ hours|safe }};

		$.each(drinks, function(upc, drink_data) {
			if (drink_data['name'] !== null) {
				var tmp_data = [];
				$.each(hours, function(hour, hour_data) {
					tmp_data.push([parseInt(hour), hour_data[upc]]);
				});
				data.push({data: tmp_data, label: drink_data['name']});
			}
		});
		console.log(data);
		/*var d1 = [];
		for (var i = 0; i < 14; i += 0.5) {
			d1.push([i, Math.sin(i)]);
		}

		var data = [{ data: d1, label: "Pressure", color: "#333" }];

		var d2 = [[0, 3], [4, 8], [8, 5], [9, 13]];

		// A null signifies separate line segments

		var d3 = [[0, 12], [7, 12], null, [7, 2.5], [12, 2.5]];*/

		$.plot("#placeholder", data, {
			xaxis: {
				tickSize: 2,
				min: 0,
				max: 23,
				tickFormatter: function(number) { 
					if (number === 0) {
						return '12:00 am';
					}
					if (number < 13) {
						return number + ':00 am';
					}
					return (number - 12) + ':00 pm';
				}
			}
		});
		// $.plot("#placeholder", [ { data: d1, label: "Test" }, d2, d3 ]);

		// Add the Flot version string to the footer

		$("#footer").prepend("Flot " + $.plot.version + " &ndash; ");
	});

	</script>
	<!--
		{{ drinks|safe }}
	-->
	<!--
		{{ hours|safe }}
	-->
</head>
<body>

	<div id="header">
		<h2>Beverage-o-Meter</h2>
	</div>

	<div id="content">

		<div class="demo-container">
			<div id="placeholder" class="demo-placeholder"></div>
		</div>
	</div>

	<div id="footer">
		Copyright &copy; 2007 - 2013 IOLA and Ole Laursen
	</div>

</body>
</html>