{% extends "base.html" %}


{% block title %}
Beverage-O-Meter: All Beverages By Time
{% endblock %}

<!doctype html>
{% block content %}

<h2>Total Number of Beverages By the Hour</h2>
<div class="ct-chart ct-major-tenth"></div>

{% endblock %}


{% block scripts %}
<script language="javascript" type="text/javascript">
    var drinksByHour = {{ drinks_by_hour|safe }};

    var labels = [];
    var number_of_drinks_by_hour = [];

    for (var i = 0; i < drinksByHour.length; i++) {
        labels.push(drinksByHour[i].hour);
        number_of_drinks_by_hour.push(drinksByHour[i].number);
    };

    var data = {
        labels: labels,
        series: Array(number_of_drinks_by_hour)
    };

    var options = {
        lineSmooth: false,
    };

    new Chartist.Line('.ct-chart', data, options);
</script>

{% endblock %}
