<!doctype html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Beverage-o-Meter</title>
	<script language="javascript" type="text/javascript" src="{{ url_for('static', filename='javascript/jquery-2.1.1.min.js') }}"></script>
	<script language="javascript" type="text/javascript" src="{{ url_for('static', filename='javascript/d3/d3.min.js') }}"></script>
	<script language="javascript" type="text/javascript" src="{{ url_for('static', filename='javascript/metricsgraphics.min.js') }}"></script>
	<script language="javascript" type="text/javascript">
		var drinks_by_hour = {{ drinks_by_hour|safe }};

		$(document).ready(function() {
			data_graphic({
				title: "Drinks By Hour",
				description: "The total number of drinks scanned by hour.",
				data: drinks_by_hour,
				width: 400,
				height: 250,
				target: "#result",
				x_accessor: "hour",
				y_accessor: "number",
				interpolate: "monotone"
			});
		});
	</script>
</head>
<body>

	<div id="header">
		<h2>Beverage-o-Meter</h2>

		<div id="result"></div>
	</div>

</body>
</html>