{% extends "base.html" %}
{% block content %}
<div class="col-md-12">
    <p>
        <ul>
            <li><a href="https://github.com/jachin/beverages.cw/blob/master/README.md">Documentation</a></li>
            <li><a href="/drinks">Drinks and UPC database searches</a></li>
            <li><a href="/update_db">Update Database</a> - Grab the lastest data from the Rasberry PI</li>
            <li><a href="/admin/consumableview/">Consumable Admin</a> - Assocate UPCs with Beverages</li>
            <li><a href="/scans">Last 10 scan</a></li>
            <li><a href="/scans/all/">All JSON</a> - All the scans in JSON in order.</li>
            <li><a href="/drinks/by/day">Graph of the total number of drinks by day</a>.</li>
            <li><a href="https://github.com/jachin/beverages.cw">Git Hub Repo</a></li>
        </ul>
    <p>
</div>
{% endblock %}
